<div class="nested-fields">

  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control", placeholder: "Telefone" %><br>
    <%= link_to_remove_association 'Remover Telefone', f, class: "btn btn-xs btn-danger" %>
  </div>

</div>
