.home {
  text-align: center;
  background-color: #3498db;
  width: 600px;
  margin: 0 auto;
  color: #fff;
}

.home h1 {
  background-color: #2980b9;
  padding: 10px;
}

.home ul li {
  list-style: none;
  text-align: left;
  padding: 5px;
}
